<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Contact List</h1>
    <p>
      <ul>
        <% for (let i of contact_list){%>
          <li>
            <p><%= i.name%></p>
            <p><%= i.phone%></p>
            <a href="/delete/<%= i.phone%>">
              <P>Delete</P>
            </a>
          </li>
          <%}
         %>
      </ul>
    </p>
    <form action="/add" method="post">
      <input type="text" name="name" placeholder="Name" id="name" />
      <input type="text" name="contact" placeholder="Number" id="Contact" />
      <input type="submit" placeholder="Submit" />
    </form>
  </body>
</html>
